<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b67fd">  <td>20/06/15 23:48:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.orghrm.mytests.LoginTest@2d6eabae]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/06/15 23:48:26</td>   <td>20192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginPageTitleTest()[pri:1, instance:com.orghrm.mytests.LoginTest@2d6eabae]">verifyLoginPageTitleTest</td> 
  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/06/15 23:48:26</td>   <td>20228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLoginTest()[pri:2, instance:com.orghrm.mytests.LoginTest@2d6eabae]">doLoginTest</td> 
  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/06/15 23:48:27</td>   <td>20296</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.orghrm.mytests.LoginTest@2d6eabae]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/06/15 23:48:27</td>   <td>21160</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.orghrm.mytests.HomeTest@4e7dc304]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/06/15 23:48:46</td>   <td>39747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyHomePageHeaderTest()[pri:1, instance:com.orghrm.mytests.HomeTest@4e7dc304]">verifyHomePageHeaderTest</td> 
  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/06/15 23:48:46</td>   <td>39855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyHomePageTitleTest()[pri:1, instance:com.orghrm.mytests.HomeTest@4e7dc304]">verifyHomePageTitleTest</td> 
  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/06/15 23:48:46</td>   <td>39871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.logOutFunc()[pri:2, instance:com.orghrm.mytests.HomeTest@4e7dc304]">logOutFunc</td> 
  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/06/15 23:48:48</td>   <td>41746</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.orghrm.mytests.HomeTest@4e7dc304]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640363654</td>   <td></td> </tr>
</table>
