<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Orange HRM Regression Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4c865">  <td>20/07/05 19:51:10</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.initialize()[pri:0, instance:com.orghrm.tests.LoginTest@3541cb24]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/07/05 19:51:21</td>   <td>11079</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:com.orghrm.tests.LoginTest@3541cb24]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>20/07/05 19:51:22</td>   <td>12906</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomeTest.setUp()[pri:0, instance:com.orghrm.tests.HomeTest@2177849e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="a4c865">  <td>20/07/05 19:51:29</td>   <td>19558</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.orghrm.tests.LoginTest@3541cb24]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>20/07/05 19:51:28</td>   <td>18100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyHomePageHeader()[pri:3, instance:com.orghrm.tests.HomeTest@2177849e]">verifyHomePageHeader</td> 
  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>20/07/05 19:51:28</td>   <td>18086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyHomePageTitle()[pri:2, instance:com.orghrm.tests.HomeTest@2177849e]">verifyHomePageTitle</td> 
  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/07/05 19:51:21</td>   <td>11325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyInvalidLogin()[pri:3, instance:com.orghrm.tests.LoginTest@3541cb24]">verifyInvalidLogin</td> 
  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/07/05 19:51:21</td>   <td>11231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginPageFooter()[pri:2, instance:com.orghrm.tests.LoginTest@3541cb24]">verifyLoginPageFooter</td> 
  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/07/05 19:51:21</td>   <td>11145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginPageHeader()[pri:1, instance:com.orghrm.tests.LoginTest@3541cb24]">verifyLoginPageHeader</td> 
  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/07/05 19:51:21</td>   <td>11115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginPageTitle()[pri:0, instance:com.orghrm.tests.LoginTest@3541cb24]">verifyLoginPageTitle</td> 
  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>20/07/05 19:51:28</td>   <td>18156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyLogout()[pri:4, instance:com.orghrm.tests.HomeTest@2177849e]">verifyLogout</td> 
  <td>main@1813187653</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>20/07/05 19:51:22</td>   <td>12907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verifyValidLogin()[pri:1, instance:com.orghrm.tests.HomeTest@2177849e]">verifyValidLogin</td> 
  <td>main@1813187653</td>   <td></td> </tr>
</table>
